/* src/index.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  /* src/index.css */
.loading {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.search-form button[type="button"] {
  margin-left: 10px;
  background-color: #e74c3c;
  color: white;
}

.search-form button[type="button"]:hover {
  background-color: #c0392b;
}
